.masonry {
    grid-template-rows: repeat(2, 311px);
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5rem;
    grid-template-areas:
    "first first second third fourth fourth"
    "fifth sixth seventh seventh fourth fourth";
}

.first {
    grid-area: first;
}

.second {
    grid-area: second;
}

.third {
    grid-area: third;
}

.forth {
    grid-area: fourth;
    background-position: top left;
}

.fifth {
    grid-area: fifth;
}

.sixth {
    grid-area: sixth;
}

.seventh {
    grid-area: seventh;
}


.masonry-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../src/assets/images/work-1.jpg.webp");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.masonry-item i {
    color: white;
}

.overlay-text {
    position: absolute;
    bottom: -40%;
    height: 40%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    transition: 500ms;
}

.masonry-item:hover .overlay-text {
    bottom: 0;
}

.align-center {
    align-items: center;
    height: 100vh;
}

.sq__item {
    position: relative;
    background: #1a083d;
    width: 200px;
    height: 200px;
    transform: rotate(45deg);
}

.sq__item:nth-child(2n) {
    margin-top: -300px;
}

.sq__item::after {
    position: absolute;
    content: '';
    display: block;
    width: 242%;
    height: 242%;
    border: 1px solid red;
}

.sq__item:nth-child(odd)::after {
    border-bottom: 0;
    border-right: 0;
}

.sq__item:nth-child(even)::after {
    border-top: 0;
    border-left: 0;
}

.sq__item:nth-child(4n + 1)::after {
    bottom: 0;
    left: 0;
}

.sq__item:nth-child(4n + 2)::after {
    bottom: -48px;
    right: -48px;
}

.sq__item:nth-child(4n + 3)::after {
    top: -48px;
    left: -48px;
}

.sq__item:nth-child(4n + 4)::after {
    top: 0;
    right: 0;
}

.sq-wrapper {
    background-color: #100028;
    padding: 20px;
}

.rotate-45 {
    transform: rotate(-90deg);
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.our-staff {
    padding: 4rem 2rem;
    background-image: url("https://preview.colorlib.com/theme/videograph/img/team-bg.jpg.webp");
}

.flex-column {
    flex-direction: column;
}

li {
    flex: 1;
    margin-top: calc(var(--i) * (-60px))
}

figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.figure {
    position: relative;
}

.figcaption {
    position: absolute;
    opacity: 0;
    bottom: 0;
    transition: bottom 1s ease;
}

.figure:hover .figcaption {
    opacity: 1;
}

.btn {
    margin-top: -100px;
}

.card {
    border: 1px solid red;
}

.card:hover {
    background-image: url("https://preview.colorlib.com/theme/videograph/img/team-bg.jpg.webp");
}

.slider {
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
            to right,
            transparent,
            #000 10% 90%,
            transparent
    );
}

.slider .list {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}

.slider .list .item {
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1)) !important;
}

.slider .list .item img {
    width: 100%;
}

@keyframes autoRun {
    from {
        left: 100%;
    }
    to {
        left: calc(var(--width) * -1);
    }
}

.slider:hover .item {
    animation-play-state: paused !important;
    filter: grayscale(1);
}

.slider .item:hover {
    filter: grayscale(0);
}