.masonry {
    grid-template-rows: repeat(2, 311px);
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5rem;
    grid-template-areas:
    "first first second third fourth fourth"
    "fifth sixth seventh seventh fourth fourth";
}

.first {
    grid-area: first;
}

.second {
    grid-area: second;
}

.third {
    grid-area: third;
}

.forth {
    grid-area: fourth;
    background-position: top left;
}

.fifth {
    grid-area: fifth;
}

.sixth {
    grid-area: sixth;
}

.seventh {
    grid-area: seventh;
}


.masonry-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../src/assets/images/work-1.jpg.webp");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.masonry-item i {
    color: white;
}

.overlay-text {
    position: absolute;
    bottom: -40%;
    height: 40%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    transition: 500ms;
}

.masonry-item:hover .overlay-text {
    bottom: 0;
}

.align-center {
    align-items: center;
    height: 100vh;
}

/*.sq__item {*/
/*    position: relative;*/
/*    background: darkblue;*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    transform: rotate(45deg);*/
/*}*/

/*.sq__item:nth-child(2n) {*/
/*    margin-top: -300px;*/
/*}*/

/*.sq__item::after {*/
/*    position: absolute;*/
/*    content: '';*/
/*    display: block;*/
/*    width: 242%;*/
/*    height: 242%;*/
/*    border: 1px solid red;*/
/*}*/

/*.sq__item:nth-child(odd)::after {*/
/*    border-bottom: 0;*/
/*    border-right: 0;*/
/*}*/

/*.sq__item:nth-child(even)::after {*/
/*    border-top: 0;*/
/*    border-left: 0;*/
/*}*/

/*.test1::after {*/
/*    bottom: 0;*/
/*    left: 0;*/
/*}*/

/*.test2::after {*/
/*    bottom: -48px;*/
/*    right: -48px;*/
/*}*/

/*.test3::after {*/
/*    left: -48px;*/
/*    top: -48px;*/
/*}*/

/*.test4:after {*/
/*    top: 0;*/
/*    right: 0;*/
/*}*/


.sq__item {
    position: relative;
    background: darkblue;
    width: 200px;
    height: 200px;
    transform: rotate(45deg);
}

.sq__item:nth-child(2n) {
    margin-top: -300px;
}

.sq__item::after {
    position: absolute;
    content: '';
    display: block;
    width: 242%;
    height: 242%;
    border: 1px solid red;
}

.sq__item:nth-child(odd)::after {
    border-bottom: 0;
    border-right: 0;
}

.sq__item:nth-child(even)::after {
    border-top: 0;
    border-left: 0;
}

.sq__item:nth-child(4n + 1)::after {
    bottom: 0;
    left: 0;
}

.sq__item:nth-child(4n + 2)::after {
    bottom: -48px;
    right: -48px;
}

.sq__item:nth-child(4n + 3)::after {
    top: -48px;
    left: -48px;
}

.sq__item:nth-child(4n + 4)::after {
    top: 0;
    right: 0;
}


* {
    box-sizing: border-box;
}

.flex-column {
    flex-direction: column;
}

.squares-wrapper {
    display: flex;
    gap: 80px;
}

.squares-wrapper-first {
    margin-left: 135px;
}

.squares-wrapper-second {
    margin-top: -85px;
}

.square {
    background-color: #090945;
    width: 150px;
    height: 150px;
    position: relative;
}

.square-wrapper {
    padding: 20px;
    border: 1px solid #504d4d;
    transform: rotate(45deg);
}

.square-edge::after, .square-edge::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #504d4d;
}

.square-bottom-right-edge:after {
    left: 100%;
    bottom: 0;
}

.square-top-left-edge::before {
    top: 0;
    right: 100%;
}

.square-bottom-left-edge::after {
    transform: rotate(-90deg);
    transform-origin: bottom right;
    bottom: 0;
}

.square-top-right-edge::before {
    transform: rotate(-90deg);
    transform-origin: top left;
    top: 0;
}

.border-reset {
    border: 0;
}