:root {
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Courgette', sans-serif;
    --font-territory: 'Popins', sans-serif;
    --primary-color: #ffffff;
    --secondary-color: rgb(236, 29, 37);
    --max-natural-color: #000000;
    --transition: 800ms;
}

body {
    box-sizing: border-box;
    font-size: 16px;
    color: var(--primary-color);
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: var(--font-primary), sans-serif;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

button {
    cursor: pointer;
    border: 0;
}

::selection {
    color: var(--secondary-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section-container {
    padding: 100px 60px;
    color: var(--max-natural-color);
    font-family: var(--font-territory), serif;
    text-align: center;
    background-color: #eae3e3;
}

/* Flex */
.flex {
    display: flex;
}

.flex-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-fill {
    flex: 1;
}

.flex-twice {
    flex: 2;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap-16 {
    gap: 16px;
}

.gap-32 {
    gap: 32px;
}

.gap-64 {
    gap: 64px;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: block;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.uppercase {
    text-transform: uppercase;
}

.primary-btn {
    padding: 16px 32px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 10px;
    transition: var(--transition);
}

.primary-btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.secondary-button {
    padding: 12px 32px;
    background-color: var(--max-natural-color);
    color: var(--primary-color);
    border-radius: 10px;
}

.section--subtitle {
    font-size: 1.5rem;
    font-family: var(--font-secondary), serif;
    color: var(--secondary-color);
}

.section--link {
    color: var(--max-natural-color);
    text-transform: uppercase;
    transition: var(--transition);
}

.section--link:hover {
    color: var(--secondary-color);
}

.scalable-image {
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.scalable-image img {
    transition: 800ms;
    object-fit: cover;
}

.scalable-image:hover img {
    transform: scale(1.1);
}

.text-center {
    text-align: center;
}

/* Header */
.header {
    position: sticky;
    top: 0;
    z-index: 1;
    border-top: 4px solid var(--secondary-color);
    padding: 2rem 0;
}

.nav-link {
    transition: var(--transition);
}

.nav-link:hover {
    color: var(--secondary-color);
}

.burger-menu {
    width: 32px;
    height: 16px;
    border-block: 2px solid var(--primary-color);
    border-inline: unset;
    outline: 0;
    box-shadow: unset;
    background: unset;
    transition: var(--transition);
}

.burger-menu:hover {
    border-color: var(--secondary-color);
}

/*Hero Section*/
.hero-section {
    height: 100vh;
    margin-top: -122px;
    background: url('../classwork/assets/banner.webp') no-repeat fixed center;
    background-size: cover;
}

.hero-title {
    font-family: var(--font-secondary), serif;
}

/*Slider Icons*/
.slider {
    width: 100%;
    height: 100%;
    padding: 20px 0;
}

.slider__icon {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--primary-color);
    border-radius: 50%;
    opacity: 0;
    transition: 1000ms;
    top: 50%;
    /* transform: translateY(-50%); */
}

.slider__icon--prev {
    left: 20px;
}

.slider__icon--next {
    right: 20px;
}

.hero-section:hover .slider__icon,
.review--card:hover .slider__icon {
    opacity: 1;
}

.dots {
    justify-self: flex-end;
}

.dots__icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #76768a;
    transition: border .7s ease-out;
}

.dots__icon:hover {
    border: 4px solid var(--primary-color);
    background-color: var(--secondary-color);
    transform: scale(1.1);
}

/* Our Story */
.card--image {
    max-width: 390px;
    min-width: 250px;
    aspect-ratio: 1 / 1;
}

.card--description {
    margin: 32px 0;
}

/* Parallax */
.parallax {
    height: 392px;
    background: url("assets/parallax.png") center center / cover fixed;
    padding: 0 40px;
}

/* Cards Section */
.cards {
    color: var(--max-natural-color);
    padding: 120px 0 160px;
}

.cards--item {
    flex: 0 0 calc((100% - 32px) / 3);
}

.caption {
    padding-top: 32px;
}

.cards--item--title {
    font-size: 1.5rem;
    font-weight: 400;
}

.cards--item--desc {
    margin: 24px 0 16px;
}

/* Masonry */
.masonry {
    margin-top: 32px;
    display: grid;
    gap: 16px;
    grid-template-rows: repeat(3, 300px);
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    grid-template-areas:
  "lunch dinner drink"
  "lunch dinner starters"
  "happyHour happyHour dessert"
}

.masonry-item {
    position: relative;
}

.masonry-item-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px 32px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--max-natural-color);
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: var(--transition);
}

.lunch {
    grid-area: lunch;
}

.dinner {
    grid-area: dinner;
}

.drink {
    grid-area: drink;
}

.happy-hour {
    grid-area: happyHour;
}

.starters {
    grid-area: starters;
}

.dessert {
    grid-area: dessert;
}

.masonry-item-btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* Events */
.events {
    padding: 100px 0;
    background-image: url('../classwork/assets/bg-event-02.jpg.webp');
    overflow: hidden;
}

.event-card {
    position: relative;
    margin-top: 24px;
    border-radius: 12px;
    overflow: hidden;
    background-color: var(--primary-color);
    color: var(--max-natural-color);
    opacity: 0;
    animation: scale 1s linear forwards;
}

.event-caption {
    padding: 60px 40px;
}

.event-date {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time {
    writing-mode: vertical-rl;
}

.timer-wrapper {
    margin: 40px 0;
}

.timer {
    color: var(--secondary-color);
    font-size: 3rem;
    font-weight: 700;
}

.timer span {
    text-transform: uppercase;
    color: #666666;
    font-size: 0.8rem;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}

.section--subtitle__dark {
    color: var(--max-natural-color);
}

.form {
    gap: 16px;
    color: #a1a1a1;
    text-align: left;
}

.form label {
    width: 50%;
    min-width: calc(50% - 8px);
    gap: 8px;
}

.form-item {
    padding: 12px 16px;
    border: 1px solid lightgrey;
    color: lightgrey;
    border-radius: 12px;
}

.form-item::placeholder {
    color: lightgrey;
}

.form-item:focus {
    outline: 1px solid var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

/* Review Section */
.image-wrapper {
    width: 100px;
    height: 100px;
    margin: 40px 0 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 4px solid var(--secondary-color) 20;
    overflow: hidden;
    animation: scale 1s linear forwards;
}

.review--card {
    width: 100%;
    overflow: hidden;
}

.review--info {
    color: #76768a;
    max-width: 70%;
    font-size: 1.2rem;
    animation: bottomToTop 2s ease-in forwards 1s;
}

.stars-wrapper {
    margin: 10px 0 30px;

    & i {
        color: var(--secondary-color);
    }
}

.review--dots {
    margin-top: 24px;
}


/* Play Video */
.play-btn {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-top: 40px;
    background-color: var(--primary-color);
    transition: var(--transition);
}

.play-btn:hover {
    transform: scale(1.2);
    background-color: #EC1D25B3;

    & i {
        color: var(--primary-color);
    }
}

/* Modal */
.modal-container {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
}

.close-modal {
    margin-left: auto;
    padding: 32px;
    background-color: unset;
    color: #a3a2a2;
    font-size: 1.8rem;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 10px;
}

.modal-content {
    max-width: 70%;
    min-width: 60%;
    min-height: 80%;

    & iframe {
        width: 100%;
        height: 100%;
    }
}

.input-icon {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.sign-up__input {
    min-width: 250px;
    height: 100%;
}

.self-center {
    align-self: center;
}

@keyframes eventTopDown {
    from {
        top: -900px;
    }

    to {
        opacity: 1;
        top: 0;
    }
}

@keyframes scale {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes bottomToTop {
    from {
        /*opacity: 0;*/
        transform: translateY(100%);
    }
    to {
        /*opacity: 1;*/
        transform: translateY(0);
    }
}